
div.build_marker{
  position: relative;
  width:10px;
  padding-top:1.5px;
}

svg.build_marker{
  margin-left:0px;
}

svg.build_marker:hover{
  cursor:pointer;
}

circle.build_marker{
  fill:Red;
  stroke:White;
  stroke-width:1px;
}

line.build_marker{
  stroke:White;
  stroke-width:1px;
}